.header {
  background: #fff;
  height: -50px;
}

.header__inner {
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 1230px;
}

.header-utilities {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.header-utilities nav {
  width: 18%;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav__link {
  color: #000;
  text-decoration: none;
  margin-right: 50px;
  font-size: 20px;
}

.header-nav__button {
  border: none;
  background: transparent;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}

.main {
  background-color: #ddd;
  height: 100%;
}

.footer {
  background-color: #fff;
  height: -50px;
}

.copy-right {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 15px;
  max-width: 1230px;
}

.copy_right {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}