.attendance__alert {
  margin: 20px auto;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.attendance__panel {
  margin: 0 auto;
  width: 70%;
}

.attendance__button {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-right: 30px;
}

.attendance__button-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.attendance__button-submit .active {
  padding: 5px;
  width: 30%;
  height: 50px;
  border: none;
  border-radius: 3px;
  background: #fff;
  color: #000;
  text-align: center;
  cursor: pointer;
}

.attendance__button-submit:hover:not(.active, .disabled) {
  color: #ddd;
}

.attendance__content {
  margin: 0 auto;
  padding: 30px 15px;
  max-width: 1230px;
}

.attendance-table {
  margin: 30px auto;
  width: 70%;
  text-align: center;
}

.attendance-table__inner {
  width: 100%;
}

.attendance-table__row {
  border-bottom: 1px solid #ddd;
}

.attendance-table__header {
  padding: 12px;
  width: 20%;
  font-weight: bold;
}

.attendance-table__item {
  padding: 12px;
  width: 20%;
}